.App {
    min-height: 100vh;
    background-color: #eee;
}
.dark.App{
    background-color: #3d434e;
}

#comps-cont {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    padding-left: 94px;
    background-color: #eee;
    overflow: hidden;
    transition: all .5s;
}

.dark #comps-cont {
    background-color: #3d434e;
    color: #ddd;
}

.cards {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}
.warning{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    color: #0000005e;
    text-align: center;
    letter-spacing: .2mm;
}
.dark .warning{
    color: #ffffff5e;
}

@media screen and (max-width: 600px) {
    #comps-cont{
        padding-left: 94px;
    }
}
@media screen and (max-width: 500px) {
    #comps-cont{
        padding-left: 30px;
    }
}