.App {
    display: flex;
    flex-direction: row;
}

#comps-cont {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 30px;
    background-color: #eee;
    flex-basis: auto;
    overflow: hidden;
    transition: background.5s, color .5s;
}

#comps-cont div:first-of-type {
    flex-grow: 1;
}

#comps-cont.dark {
    background-color: #3d434e;
    color: #ddd;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}